@tailwind base;
@tailwind components;
@tailwind utilities;

.MuiPaper-root, * {
  background-color: white;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.search-field * {
  height: 100%;
  padding: 0;
}

.feed-item__contents {
  height: 90%;
}
.feed-item__toolbar {
  width: 45px;
  bottom: 0px;
  right: -60px;
}
.feed-item__toolbar-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


#side-bar {
  width: 180px;
}

#page {
  flex-grow: 1;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@media only screen and (max-width: 1026px) {
  .mobile-hide {
      display: none;
  }

  .feed-item__toolbar {
    right: 10px;
    background: #ddf4d7;
  }

  .feed-item__toolbar-icon, .feed-item__toolbar-item {
    background-color: white;
  }
  .feed-item__toolbar-count {
    background: #ddf4d7;
  }

  #side-bar {
    width: 70px;
    border-right-width: 1px ;
    border-right-color: "#cbd5e1";
  }

  .side_item__icon {
    margin-bottom: 10px;
  }
}

@media only screen and (max-width: 767px) {
  #main {
    padding: 60px 5px 5px 5px;
  }
  
  .feed-item__contents {
    height: 92%;
  }
}